*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box; 
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/*Header*/
header {
    padding: 20px 0;
    background-color: rgb(55, 88, 138);
}

header h2 {
    font-size: 2rem;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
}

/*Main*/
main .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

main h4 {
    font-size: 1.8rem;
    margin-top: 20px;
    font-weight: bold;
}

main p {
    font-size: 1.2rem;
    margin: 15px 0;
    font-style: italic;
}

main h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

section.bg-light {
    background-color: #f8f9fa;
    padding: 40px 0;
}

section.bg-light h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: rgb(55, 88, 138);
}

/*Card*/
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card .card-body h5 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.card .card-body p {
    font-size: 1rem;
    color: #555;
}

/*Footer*/
footer {
    background-color: rgb(55, 88, 138);
    padding: 40px 0;
    color: #fff;
}

footer .form-label {
    color: #fff;
}

footer .btn-primary {
    background-color: #1e1785;
    border: none;
}

footer .btn-primary:hover {
    background-color: #1e1785 ;
}
